Artart Review Carsten Bormann POST-as-GET

# Major editorial

## terminology

### POST-as-GET request

Term should probably be explicitly imported from Section 6.3 of RFC 8555.
