AD Review Section 3 #2

** Section 3.
   ACME places the following restrictions on "identifiers":

   *  [RFC8555] section 7.1.4: the only type of "identifier" defined by
      the ACME specification is an FQDN: "The only type of identifier
      defined by this specification is a fully qualified domain name
      (type: "dns").  The domain name MUST be encoded in the form in
      which it would appear in a certificate."

It seems like there is a subtle distinction to clarify here.  Yes, RFC8555 only specified the "dns" identifier.  However, it also enabled a broader ACME ecosystem via https://www.iana.org/assignments/acme/acme.xhtml#acme-identifier-types. Isn't the relevant thing to say here that _this_ document only supports the "dns" identifier.
